#login-button#login-button.button.logout.login.w-button {
    background-color: #66ffcc;
    background-image: none;
    border-radius: 25px;
    border-width: 0;
    bottom: auto;
    box-sizing: border-box;
    color: #253858;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(1, 14, 1);
    border-radius: 5px;
    
  }
   
#login-button#login-button.button.logout.login.w-button:active {
    outline: 0;
  }
   
#login-button#login-button.button.logout.login.w-button:hover {
    background-color: #2ac28f;
    font-weight: 400;
    outline: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  .cardContainer{
    padding-top: 3%;
    
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .cardContainer a {
    flex: 1;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  .cardContainer a:link,
  .cardContainer a:visited,
  .cardContainer a:focus {
    background: palegoldenrod;
    color: black;
  }
  
  .cardContainer a:hover {
    background: orange;
  }
  
  .cardContainer a:active {
    background: darkred;
    color: white;
  }
  
  .cardContainer button:hover {
    opacity: 0.7;
  }
  
  

 